#loginFailure{
    float: right;
    font-weight: bold;
    color: red;
}
#login-column{
    background-color: rgb(230, 230, 230);
    border-radius: 25px;
    border-color: black;
}
#login{
    padding-top: 35px;
    /* padding-bottom: 35px; */
}
#login-title{
    text-align: center;
}
.link{
    display: block;
    text-align: right;
}
#lmsLogo{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}